.forme{
    padding-right: .5rem;
    padding-left: .5rem;
    padding-top: .5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form-control{
    padding: 0.375rem 4.75rem !important;
}

.btn{
    margin-bottom: 15px;
}